.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    background-color: #202529;
    padding: 10px;
    z-index: 1000;
    border-radius: .9rem;
    display: grid;
    grid-template-columns: 100px auto 100px 50px;
    grid-template-rows: 50px auto 100px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:  rgba(0, 0, 0, .8);
    transition: background-color 0.5s ease;
    z-index: 1000;
}

.closeButton {
    background: none;
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    grid-column: 4 / 5;
    justify-self: center;
    align-self: center;
}

.closeButton:hover,
.closeButton:focus {
    background-color: white;
    color: black;
    transition: all 0.3s ease;
}

.closeButton:active {
    color: white;
}

.sideBar {
    grid-column: 1 / 2;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}